@import "../../assets/styles/variables.scss";

.wrapper-primary {
  button {
    background-color: $primary-color;
    border: none;
    color: #ffff;
  }
  :where(.css-dev-only-do-not-override-txh9fw).ant-btn-primary:not(
      :disabled
    ):not(.ant-btn-disabled):hover {
    background-color: rgb(238, 189, 125);
    border: none;
    color: #ffff;
  }
}
